
<!Doctype html>
<html>
<head>
<meta charset="UTF-8"> 
<title>Add Student</title>  
 <link rel="stylesheet" href="view.css">
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<link rel="stylesheet" href="table1css.css"><link rel="stylesheet" href="butt-2.css">
<script type="text/javascript">
            function ins()
            {
                window.location="m1sem.html"
            }
            </script>
                     <style> 
                            body{
                              background-image: url(image/i2.jpg);
                               background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        height: 100vh;
                         input {
border: none;
background: #404040;

font-weight: 100;
padding: 10px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}
        input:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}</style>
</head>  
<body> 
    <div class="col-md-12"><div ><br><br>
            <h1 align="center"><b>ADD 1 SEM MARKS OF THE STUDENTS</b></h1>
	<div ng-app="st_app" ng-controller="st_controller">
            
                <div> <center><table align="center">
                           
                                
               <tr><th>  <label>RollNo</label></th><td>
           <select ng-model="rollno" class="form-control" ng-init="drop2()">
               <option ng-repeat="x in drop2">{{x.rollno}}</option></select></td></tr>
               
         <tr><th> <label>Exam_Type</label></th><td>
                          <select ng-model="exam_type" class="form-control" ng-init="drop4()">
                            <option ng-repeat="x in drop4">{{x.exam_type}}</option></select>
                 </td></tr>
          
           <tr><th> <label>subject</label></th><td>
                          <select ng-model="s1" class="form-control" ng-init="drop3()">
                            <option ng-repeat="x in drop3">{{x.s1}}</option></select>
               </td></tr>    
               <tr><th> <label>Scored Marks</label></th><td>
                <input type="number" name="sc1" ng-model="sc1"  class="w3-input w3-border"  placeholder="enter attended class"></td></tr>
                <br/>
               <tr><th> <label>subject</label></th><td>
                          <select ng-model="s2" class="form-control" ng-init="drop3()">
                            <option ng-repeat="x in drop3">{{x.s2}}</option></select>
               </td></tr> 
               <tr><th>  <label>Scored Marks</label></th><td>
                <input type="number" name="sc2" ng-model="sc2"  class="w3-input w3-border" placeholder="enter attended class"></td></tr>
                <br/>
               <tr><th> <label>subject</label></th><td>
                          <select ng-model="s3" class="form-control" ng-init="drop3()">
                            <option ng-repeat="x in drop3">{{x.s3}}</option></select>
               </td></tr> 
                
               <tr><th> <label>Scored Marks</label></th><td>
                <input type="number" name="sc3" ng-model="sc3"  class="w3-input w3-border" placeholder="enter attended class"></td></tr>
                <br/>
              <tr><th>    <label>subject</label></th><td>
                          <select ng-model="s4" class="form-control" ng-init="drop3()">
                          <option ng-repeat="x in drop3">{{x.s4}}</option></select>
               </td></tr> 
                 <tr><th><label>Scored Marks</label></th><td>
                <input type="number" name="sc4" ng-model="sc4"  class="w3-input w3-border" placeholder="enter attended class"></td></tr>
                <br/>
                 <tr><th> <label>subject</label></th><td>
                          <select ng-model="s5" class="form-control" ng-init="drop3()">
                            <option ng-repeat="x in drop3">{{x.s5}}</option></select>
               </td></tr>    
               <tr><th> <label>Scored Marks</label></th><td>
                <input type="number" name="sc5" ng-model="sc5"  class="w3-input w3-border"  placeholder="enter attended class"></td></tr>
                <br/>
               <tr><th> <label>subject</label></th><td>
                          <select ng-model="s6" class="form-control" ng-init="drop3()">
                            <option ng-repeat="x in drop3">{{x.s6}}</option></select>
               </td></tr> 
               <tr><th>  <label>Scored Marks</label></th><td>
                <input type="number" name="sc6" ng-model="sc6"  class="w3-input w3-border" placeholder="enter attended class"></td></tr>
                <br/>
               <tr><th> <label>subject</label></th><td>
                          <select ng-model="s7" class="form-control" ng-init="drop3()">
                            <option ng-repeat="x in drop3">{{x.s7}}</option></select>
               </td></tr> 
                
               <tr><th> <label>Scored Marks</label></th><td>
                <input type="number" name="sc7" ng-model="sc7"  class="w3-input w3-border" placeholder="enter attended class"></td></tr>
                <br/>
              <tr><th>    <label>subject</label></th><td>
                          <select ng-model="s8" class="form-control" ng-init="drop3()">
                          <option ng-repeat="x in drop3">{{x.s8}}</option></select>
               </td></tr> 
                 <tr><th><label>Scored Marks</label></th><td>
                <input type="number" name="sc8" ng-model="sc8"  class="w3-input w3-border" placeholder="enter attended class"></td></tr>
                <br/>
              
               
                 <tr><td> <input type="submit" name="insert" class="btn btn-primary" ng-click="insert()" value="Insert"></td>
                 <td> <button  onclick="ins()" class="example_e">
                            BACK MENU
            </button></td></tr>       
                        
                        </table></div><br><br><br><br><br> </div>    
                 </div>
        </div>
    </div>
<script>  
var app = angular.module("st_app", []);
app.controller("st_controller", function($scope, $http) {
    $scope.drop2=function(){
        $http.get('attendence_rollno1.php')
                .success(function(data){
        $scope.drop2=data;
    });
    }
     $scope.drop3=function(){
        $http.get('subject_a1.php')
                .success(function(data){
        $scope.drop3=data;
    });
    }
      $scope.drop4=function(){
        $http.get('exam.php')
                .success(function(data){
        $scope.drop4=data;
    });
    }
    $scope.btnName = "Insert";//
    $scope.insert = function() {
         
         if ($scope.rollno == null) {
            alert("enter the rollnumber");
        
            
        } else {
            $http.post(
                "insert_m1_bca1a.php", {
                   'rollno': $scope.rollno,
                   'exam_type':$scope.exam_type,
                    's1': $scope.s1,
                    'sc1': $scope.sc1,
                    's2': $scope.s2,
                    'sc2': $scope.sc2,
                    's3': $scope.s3,
                    'sc3': $scope.sc3,
                    's4': $scope.s4,
                    'sc4': $scope.sc4,
                    's5': $scope.s5,
                    'sc5': $scope.sc5,
                    's6': $scope.s6,
                    'sc6': $scope.sc6,
                    's7': $scope.s7,
                    'sc7': $scope.sc7,
                    's8': $scope.s8,
                    'sc8': $scope.sc8,
                    's9': $scope.s9,
                    'sc9': $scope.sc9,
                    's10': $scope.s10,
                    'sc10': $scope.sc10,
                    
                    
                    
                    
                    'btnName': $scope.btnName
                }
            ).success(function(data) {
                alert(data);
        $scope.rollno = rollno;
        $scope.exam_type = exam_type;
        $scope.s1 = s1;
        $scope.sc1 = sc1;
        $scope.s2 = s2;
        $scope.sc2 = sc2;
         $scope.s3 = s3;
        $scope.sc3 = sc3;
         $scope.s4 = s4;
        $scope.sc4 = sc4;
         $scope.s5 = s5;
        $scope.sc5 = sc5;
         $scope.s6 = s6;
        $scope.sc6 = sc6;
         $scope.s7 = s7;
        $scope.sc7 = sc7;
         $scope.s8 = s8;
        $scope.sc8 = sc8;
         $scope.s9 = s9;
        $scope.sc9 = sc9;
         $scope.s10 = s10;
        $scope.sc10 = sc10;
        
        
        
                
            });
        }
    }
});
</script>
</body>
</html>
