body{
    margin:0;
    padding: 0;
    font-family: 'Lato' , san-serif;
    font-size: 16px;
    background-image: url(../1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        height: 100vh;
}
.ul{
    float: right;
}
.nav{
    width: 100%;
    background-color: rgba(450,0,60,8);
    color:#fff;
}
.menu{
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav .menu .menu_item{
    display: inline-block;
    position: relative;
}
.menu_item:hover{
    background-color: #2c3e50;
}
.nav .menu .menu_item a input{
    padding: 12px 24px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: block;
}
.submenu{
    text-transform: none;
    display: none;
    position: absolute;
    width: 220px;
    background-color: rgba(0,0,0,0.8);
}
.menu_item:hover .submenu{
    display: block;
}
.submenu_item{
    border-left: 4px solid transparent;
    
}
.submenu_item:hover{
    background-color: rgba(0,0,0,0.6);
    border-left: 4px solid rgba(450,0,60,0.8);
    
}

    