<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <link href="style.css" rel="stylesheet" />
        <script type="text/javascript">
            function ins()
            {
                window.location="adminpage.html"
            }
            </script>
    </head>
    <body ng-controller="MainCtrl">
        <div class="login-box">
         <h1>Select the option to Import the attendance</h1>
        <form name="f" method="POST" action="attendence_expo.php">
              <label for="nme"><span>Semester</span></label>
                <select ng-model="sclass" id="nme" name="sc" class="question" required autocomplete="off" />
                <a href="attendence.html"></a>
                    <option value="I">First
                    <option value="II">Second
                    <option value="III">Third
                     <option value="IV">Fourth
                    <option value="V">Fifth
                    <option value="VI">Sixth
    
                </select>
                <br/>
              <label for="nme"><span>course</span></label>
                <select ng-model="course" id="nme" name="co" class="question" required autocomplete="off" />
                    <option value="BCOM">BCom
                    <option value="BSC">BSC
                    <option value="BCA">BCA
                    <option value="BBM">BBM
                    <option value="BA">BA
                </select>
                <br/>
                <label for="nme"><span>section</span></label>
                <select ng-model="section" name="sec" class="question" required autocomplete="off" />
                    <option value="A">A
                    <option value="B">B
                    <option value="C">C    
                </select>
                <br><br><button type="submit">SUBMIT</button></form><br><button onclick="ins()">BACK MENU</button>
              </div>
    </body>
</html>