.example_e {
border: none;
background: #404040;
color: #ffffff !important;
font-weight: 25;
padding: 10px;
text-transform: uppercase;
border-radius: 3px;
display: inline-block;
transition: all 0.3s ease 0s;
}
        .example_e:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 1px;
background: none;
-webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}
           
body {
	background: #310404 url(image/hd.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
            