body
{
    padding: 0px;
    margin: 0px;
    background-position: center;
    font-family: sans-serif;
    background: url();
    background-size:1280px 1580px;
     
}


.login-box{
    width: 320px;
    height: 390px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 24px;
}

.login-box button[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:#3498db;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
}

.login-box button[type="submit"]:hover{
    font-size: 18px;
    cursor: pointer;
    background: #39dc79;
}

input,
span,
label{
  display: block;
  margin: 10px;
  border: none;
  color:white;
  font-size: 12px;
}

input:focus {
  outline: 0;
}

input.question {
  font-size: 18px;
  border-radius: 2px;
  margin: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
}

input.question + label{
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 61%;
  border-top: 1px solid red;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label{
  width: 100%;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -50px;
  font-size: 18px;
  color: white;
}

input.question:valid + label{
  width: 100%;
  border-color: #009e00;
}

input.question:invalid{
  box-shadow: none;
}

input.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 18px;
  top: -26px;
  z-index: -1;
  -webkit-transition: top 0.5s ease, font-size 0.5s ease, color 0.5s ease;
  transition: top 0.5s ease, font-size 0.5s ease, color 0.5s ease;
}
