*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.menu {
  width: 300px;	
  font-size: 18px;
  overflow: hidden;
}
.item {
  border-top: 1px solid red;
  overflow: hidden;
}
.btn {
  display: block;
  padding: 16px 20px;
  background: #2498db;
  color: white;
  position: relative;
}
.btn:before{
  content: "";
  width: 14px;
  height: 14px;
  background: #2498db;
}
.smenu {
  background:#333;
  overflow:hidden;  
  max-height: 0;
  transition: max-height 0.3s; 
}
.smenu a {
  display: block;
  padding: 16px 26px;
  color: white ;
  font-size: 16px;
  margin: 4px 0; 
  position: relative;
}
.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #2498db ;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}
.smenu a:hover:before {
  opacity: 1;

}
.item:target .smenu {
  max-height: 16em;
}